services:
  distribution:
    environment:
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_PATH: ${REGISTRY_AUTH_HTPASSWD_PATH:-/auth/.htpasswd}
      REGISTRY_AUTH_HTPASSWD_REALM: ${REGISTRY_AUTH_HTPASSWD_REALM:-basic-realm}
    configs:
      - source: htpasswd
        target: /tmp/.htpasswd
    volumes:
      - distribution-access:/auth

configs:
  htpasswd:
    content: |
      ${DISTRIBUTION_USERNAME}:${DISTRIBUTION_PASSWORD_HASH}

volumes:
  distribution-access:
    name: distribution-access